{block content}
<div class="box box-primary">
		<div class="box-header with-border">
			<h2 class="box-title">
				Pridanie kategórie
			</h2>
			<a n:href="Category:" class="pull-right"><i class="fa fa-close"></i></a>
		</div>
		<div class="box-body">
			{form categoryForm}
			<div n:if="$form->hasErrors()">
				<ul class="errors">
					<li n:foreach="$form->errors as $error"><strong>{$error}</strong></li>
				</ul>
			</div> 
			<div class="form-group">
				{foreach $languages as $language}
					<label for="inputName">
						Názov ({$language->iso_code})
					</label>
					{input name_{$language->iso_code}}
				{/foreach}
			</div>
			<div class="form-group">
				<label for="inputIcon">
					Ikonka
				</label>
				{input icon}
			</div>
			<div class="form-group">
				<label for="inputParent">
					Nadradená kategória
				</label>
				{input parent}
			</div>
			{input add}
			{/form}
		</div>
	</div>

{* Script for changing active menu *}
<script>
	$(function() {
		unsetAndSetActive('#categories', '#addCategory');
	});
</script>
{/block}