{block content}
<h1>Tu bude dashboard</h1>
{* <a href="{$lang_czech}">Čeština</a>
<a href="{$lang_slovak}">Slovenčina</a> *}
{* Script for changing active menu *}
<script>
	$(function() {
		unsetAndSetActive('#home', '#home');
	});
</script>
{/block}