.main-header > .navbar {
    height: 50px;
}

.main-header .sidebar-toggle {
    height: 50px;
}

.main-header-settings {
	position: relative;
	overflow: hidden;
	width: 90%;
	height: 180px;
	margin: 0 auto;
}

.main-header-settings form {
	margin:10px 0px;
}

.text-darkGray {
	color: #888;
}

.remove {
	position: absolute;
	right: 0;
	color: #B20000;
}

.remove:hover {
	color: #C13333;
}